@page "/urlmanager"


@using Cloud5mins.AzShortener
@using Cloud5mins.TinyBlazorAdmin.Data

@inject NavigationManager NavigationManager;


<h1>URL Manager</h1>
<h3>Create, Edit, Achives your URLs</h3>